body {
    background-color: brown;
}

.image-entete {
    width: 100%;
    height: 30vh;
}

.menu-sticky {
    display: flex;
    position: sticky;
    top: 30px;
    background-color: white;
}

.logo {
    height: 100px;
    width: 100px;
}

h1 {
    text-align: center;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}